/* MOBILE SCREEN SIZE */

/* DEFINE VARIABLES*/

:root {
  --main__background__colour: #f6cdcc;
  --main__text__colour: #000;
  --main__line__height: 1.3;
  --container__width: 1500px;
}

body {
  color: var(--main__text__colour);
  font-family: "Work Sans", sans-serif;
  line-height: var(--main__line__height);
}

/* MOBILE WIDTH SIZE */

section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

.mobile__header__container {
  margin-bottom: 30px;
  height: 75px;
}

.mobile__header__grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #fff;
  width: 100%;
  padding-left: 10px;
}

.mobile__header__cart__icon {
  width: 30px;
}

.mobile__header__number {
  font-size: 15px;
  background-color: rgba(28, 28, 28, 0.87);
  color: #fff;
  padding: 5px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  margin-top: -9px;
  margin-left: -10px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  min-width: 15px;
  line-height: 15px;
}

.mobile__header__logo__size {
  width: 80px;
}

.mobile__header__hamburger__icon {
  width: 30px;
  margin-right: 20px;
}


/* MOBILE HERO */















.background__colour {
  background-color: #adb6a8;
}

.footer__subscribe__block {
}

.footer__social__media__icons {
  width: 50px;
  padding: 50px 0;
  margin-left: -15px;
}

.footer__subscribe__h2 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 10px;
  line-height: 1.2;
  color: #fff;
}

.footer__subscribe__p {
  font-size: 13px;
  padding-bottom: 20px;
  line-height: 1.6;
  color: #fff;
}

.footer__subscribe__form {
  margin: 20px 0;
}

input[type="text"] {
  width: 100%;
  padding: 16px;
  display: inline-block;
  box-sizing: border-box;
  font-size: 13px;
}

input[type="submit"] {
  color: #fff;
  border: 2px solid #fff;
  padding: 16px 32px;
  font-size: 13px;
  background-color: #adb6a8;
  text-transform: uppercase;
}

input[type="submit"]:hover {
  opacity: 0.8;
  background-color: #fff;
  color: #000;
}

.footer__subscribe__p__2 {
  font-size: 13px;
  padding-bottom: 20px;
  line-height: 1.6;
  color: #fff;
}

.footer__links__container {
  padding: 30px 0;
}

.footer__links__grid {
  display: flex;
  flex-wrap: wrap;
}

.footer__links__space a {
  padding-right: 20px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  line-height: 2;
}

.footer__links__space__no__space a {
  padding-right: 0;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  line-height: 2;
}

.footer__p {
  font-size: 13px;
  padding-bottom: 30px;
  line-height: 2;
  color: #dedede;
}

/* DESKTOP --------------------------- DISPLAY: NONE; */

.desktop__header__container {
  display: none;
}

.desktop__header__logo {
  max-width: 320px;
  display: none;
}

.desktop__hero__images__size {
  display: none;
}

.desktop__hero__images__left {
  max-width: 995px;
  padding-right: 30px;
  display: none;
}

.desktop__hero__heading {
  display: none;
}

/* DESKTOP --------------------------- DISPLAY: NONE; */
















/* DESKTOP SCREEN SIZE - min-width: 720px DESKTOP SIZE STARTS HERE (720PX) */

@media only screen and (min-width: 775px) {
  section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
  }

  /* HEADER */

  /* .header__container {
    height: 110px;
    padding: 0 20px;
    display: block;
  } */

  .desktop__header__container {
    display: block;
    padding-top: 50px;
  }

  .desktop__header__logo {
    max-width: 150px;
    display: block;
  }

  .desktop__header__logo__size {
    width: 100%;
    display: block;
  }

  .desktop__header__block {
    display: flex;
    justify-content: space-between;
  }

  .desktop__header__nav__flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .desktop__header__nav__space a {
    text-decoration: none;
    color: var(--main__text__colour);
    text-transform: uppercase;
    font-size: 15px;
    padding-left: 30px;
  }

  .desktop__header__nav__right__space a {
    text-decoration: none;
    color: var(--main__text__colour);
    text-transform: uppercase;
    font-size: 15px;
    padding: 0 30px;
  }

  /* .desktop__header__nav__space a:link {
  text-decoration: none;
} */

  .desktop__header__nav__space a:hover {
    text-decoration: underline;
  }

  .desktop__header__nav__right__space a:hover {
    text-decoration: underline;
  }


  
  /* HERO */

  











  .footer__form__flex {
    display: flex;
  }
  
  .footer__subscribe__form {
    margin: 20px 0;
    width: 280px;
    margin-right: 10px;
  }
















  

  /* MOBILE --------------------------- DISPLAY: NONE; */

  .mobile__header__container {
    margin-bottom: 30px;
    height: 75px;
    display: none;
  }

  .mobile__header__grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    display: none;
  }

  .mobile__header__cart__icon {
    width: 30px;
    padding-left: 30px;
  }

  .mobile__header__cart__icon__a {
    text-decoration: none;
  }

  .mobile__header__number {
    font-size: 15px;
    background-color: rgba(28, 28, 28, 0.87);
    color: #fff;
    padding: 5px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin-top: -9px;
    margin-left: -10px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    min-width: 15px;
    line-height: 15px;
  }

  .mobile__header__logo__size {
    width: 80px;
    display: none;
  }

  .mobile__header__hamburger__icon {
    width: 30px;
    display: none;
  }

  .hero__images {
    max-width: 290px;
    display: block;
    margin: 0 auto;
    display: none;
  }

  .hero__images__size {
    width: 100%;
    padding-bottom: 10px;
    display: none;
  }

  .hero__heading__h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    padding: 0 15px;
    padding-bottom: 10px;
    margin-top: 50px;
    line-height: 1.2;
    display: none;
  }

  .hero__heading__p {
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    padding: 0 15px;
    padding-bottom: 30px;
    line-height: 1.6;
    display: none;
  }

  /* MOBILE --------------------------- DISPLAY: NONE; */








}
